<p id="notice"><%= notice %></p>

<p>
  <strong>Keyword:</strong>
  <%= @message.keyword %>
</p>

<p>
  <strong>Mtype:</strong>
  <%= @message.mtype %>
</p>

<p>
  <strong>Title:</strong>
  <%= @message.title %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @message.summary %>
</p>

<p>
  <strong>Image:</strong>
  <%= @message.image %>
</p>

<p>
  <strong>Url:</strong>
  <%= @message.url %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
